Codigo do projeto
{
  "name": "Cotacao Automatica",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 25
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "687f023b-0a0c-4e18-a862-59f5ac6112c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL,BTC-BRL",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "797ed61a-97e4-4bfc-958d-9c432e33f4ee",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l5kw1o1VP3lAzc7d",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "132Xb12wbrBNJ3wtxKDlvwzjBH6rU4f3R1SVhzhy1IIQ",
          "mode": "list",
          "cachedResultName": "Cotacao-minuto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/132Xb12wbrBNJ3wtxKDlvwzjBH6rU4f3R1SVhzhy1IIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/132Xb12wbrBNJ3wtxKDlvwzjBH6rU4f3R1SVhzhy1IIQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data-Hora": "={{ $now }}",
            "USD-BRL": "=  {{ $json.USDBRL.bid  .replace('.', ',')}}",
            "EUR-BRL": "=  {{ $json.EURBRL.bid  .replace('.', ',')}}",
            "BTC-BRL": "=  {{ $json.BTCBRL.bid  .replace('.', ',')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data-Hora",
              "displayName": "Data-Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "USD-BRL",
              "displayName": "USD-BRL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EUR-BRL",
              "displayName": "EUR-BRL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BTC-BRL",
              "displayName": "BTC-BRL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "6a56bd40-beea-440e-aeaf-30e38ab6916a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERDZh2UGEn5UvOYA",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aab0180f-92b0-48f2-ad28-a5d651219878",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b14d06608139dc38d57625ba3054da9525f95ee55edcc138ae9dfbc3061519e"
  },
  "id": "GYNmqbamyGHbI1C1",
  "tags": []
}
